<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbc.infras.system.mapper.ConfigMapper">

    <select id="getAlarmLevelShow" resultType="java.lang.Integer" parameterType="string">
        SELECT level from tl_config_alarm_level where account = #{account}
    </select>

</mapper>